[Unit]
Description=MiniKube dashboard
After=network.target

[Service]
Type=simple
User=minikubeuser
ExecStart=/usr/bin/minikube start
RemainAfterExit=yes
ExecStop=/usr/bin/minikube stop
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target